<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.agh.mkulpa.dentaise.mobile" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity android:name="pl.edu.agh.mkulpa.dentaise.mobile.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.edu.agh.mkulpa.dentaise.mobile.EditPatientActivity"
            android:label="@string/title_activity_add_patient" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.mkulpa.dentaise.mobile.FindPatientActivity" />
        </activity>
        <activity
            android:name="pl.edu.agh.mkulpa.dentaise.mobile.FindPatientActivity"
            android:label="@string/title_activity_find_patient"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.mkulpa.dentaise.mobile.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/patient_searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.edu.agh.mkulpa.dentaise.mobile.FindVisitActivity"
            android:label="@string/title_activity_find_visit" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.mkulpa.dentaise.mobile.MainActivity" />
        </activity>
        <activity
            android:name="pl.edu.agh.mkulpa.dentaise.mobile.EditVisitActivity"
            android:label="@string/title_activity_edit_visit" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.mkulpa.dentaise.mobile.FindVisitActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
