@(form: Form[Application.PasswordChangeRequest])

@passwordMain("Zmiana hasła") {
    @helper.form(routes.Application.savePassword) {
    <h3 class="form-signin-heading">Wprowadź nowe hasło</h3>
    <p>
        <input type="hidden" class="form-control" name="token"
            value="@form("token").value">
    </p>
    <p>
        <input type="password" class="form-control" name="password"
            placeholder="Hasło">
    </p>
    <p>
        <input type="password" class="form-control" name="passwordRepeat"
            placeholder="Powtórz Hasło">
    </p>

    @if(form.hasGlobalErrors) {
    <p class="error">@form.globalError.message</p>
    }

    <p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Zmień</button>
    </p>
    }
}