@(page: Integer, doctors: List[Doctor], pageCount: Integer) @main("Lekarze", "doctors") {

<script type="text/javascript">
jQuery(document).ready(function($) {
      $(".clickable").click(function() {
            window.document.location = $(this).data("url");
      });
});
</script>

<h3>Lista lekarzy</h3>

<div class="well">
    <div class="row">
        <div class="col-lg-2">
            <button type="button" onclick='window.open("@routes.DoctorController.create()","_self");' class="btn btn-sm btn-primary">Dodaj Lekarza</button>
        </div>
    </div>
</div>
<br/><br/>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Nazwa użytkownika</th>
            <th>E-mail</th>
        </tr>
    </thead>
    @for(doctor <- doctors) {
    <tr class="clickable" data-url="@routes.DoctorController.get(doctor.getId)">
        <td>@doctor.getForename()</td>
        <td>@doctor.getSurname()</td>
        <td>@doctor.getUsername()</td>
        <td>@doctor.getEmail()</td>
    </tr>
    }
</table>
<ul class="pagination">
    @if(page==1) {
    <li class="disabled"><a href="#">&laquo;</a></li>
    } else {
    <li><a href="@routes.DoctorController.list(page-1)">&laquo;</a></li>
    }
    @for(i <- 1 to pageCount) {
    <li @if(page==i){class="active"}><a href="@routes.DoctorController.list(i)">@i</a></li>
    }
    @if(page==pageCount) {
    <li class="disabled"><a href="#">&raquo;</a></li>
    } else {
    <li><a href="@routes.DoctorController.list(page+1)">&raquo;</a></li>
    }
</ul>
}
