@(form: Form[Doctor])
@import helper.twitterBootstrap._

@main("Doctor", "doctor") {
<!-- 
<script type="text/javascript">
jQuery(document).ready(function($) {
      $("#remove").click(function() {
    	    $.ajax({
    	        url: "@routes.DoctorController.remove(form.get.getId)",
    	        type: "DELETE",
	            success:function(data) {
	                document.write(data);
	            } 
    	    });
      });
});
</script>
 -->

@helper.form(routes.DoctorController.save) {
<div class="form-horizontal">
    <input type="hidden" name="id" value="@form.get.getId">
    @forms.input("text", "forename", "Imię", form.get.getForename)
    @forms.input("text", "surname", "Nazwisko", form.get.getSurname)
    @forms.input("email", "email", "E-mail", form.get.getEmail)
    
    @if(form.hasGlobalErrors) {
    <p class="error">@form.globalError.message</p>
    }

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="button" onclick='window.open("@routes.DoctorController.remove(form.get.getId)","_self");' id="remove" class="btn btn-sm btn-primary">Usuń</button>
            <button type="button" name="changePass" class="btn btn-sm btn-primary">Zmień hasło</button>
        </div>
    </div>

    <div class="form-group text-right">
        <div class="col-lg-offset-2 col-lg-10">
            <button class="btn btn-default">Anuluj</button>
            <button type="submit" class="btn btn-success">Zapisz</button>
        </div>
    </div>
</div>
}
}
