@(form: Form[Application.PasswordResetRequest])

@passwordMain("Reset hasła") {
    @helper.form(routes.Application.sendPasswordChangeLink) {
    <h3 class="form-signin-heading">Podaj adres e-mail</h3>
    
    <p>
        <input type="email" class="form-control" name="email"
            placeholder="e-mail" value="@form("email").value">
    </p>
    
    @if(form.hasGlobalErrors) {
    <p class="error">@form.globalError.message</p>
    }
    
    <p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Resetuj</button>
    </p>
    }
}