@(form: Form[Visit], areas: List[Area], diagnoses: List[Diagnosis], treatments: List[Treatment]) @main("Wizyta", "visit") {

<div class="col-lg-offset-2 col-lg-10">
<h3>Wizyta pacjenta @(form.get.getPatient.getForename + " " + form.get.getPatient.getSurname)</h3>
</div>

<br/><br/><br/>
@helper.form(routes.VisitController.save) {
<div class="form-horizontal">
    <input type="hidden" name="id" value="@form.get.getId">
    <div class="form-group">
        <label for="date" class="col-lg-2 control-label">Termin</label>
        <div class="col-lg-3 input-group" id="datetimepicker">
            <input name="date" type="text" class="form-control" value='@form("date").value' />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker').datetimepicker({
                    language: 'pl'
                });
            });
        </script>
    </div>
    
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <table id="workTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Obszar</th>
                    <th>Rozpoznanie</th>
                    <th>Leczenie</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if(form.get.getWorkList != null) {
                @for((work, index) <- form.get.getWorkList.zipWithIndex) {
                <tr id="work@index">
                    <td >@if(work.getArea != null) {@work.getArea.getName<input type="hidden" name="workList[@index].area.id" value="@work.getArea.getId"/>}</td>
                    <td>@if(work.getDiagnosis != null) {@work.getDiagnosis.getName<input type="hidden" name="workList[@index].diagnosis.id" value="@work.getDiagnosis.getId"/>}</td>
                    <td>@if(work.getTreatment != null) {@work.getTreatment.getName<input type="hidden" name="workList[@index].treatment.id" value="@work.getTreatment.getId"/>}</td>
                    <td class="col-lg-1"><span style="cursor:pointer" class="removeWorkButton pull-right glyphicon glyphicon-trash" onclick="removeWork('work@index')"></span></td>
                </tr>
                }
                }
            </tbody>
            </table>
            <button type="button" id="addWorkButton" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus-sign"></span> Dodaj pracę</button>
            <script type="text/javascript">
                $('#addWorkButton').click(function() {
                	var id = $('#workTable tbody tr').length;
                	$('#workTable > tbody:last').append('<tr id="work' + id + '">' +
                		    '<td><select name="workList[' + id + '].area.id" class="form-control">@for(area <- areas){<option value="@area.getId">@area.getName</option>}</select></td>' +
                		    '<td><select name="workList[' + id + '].diagnosis.id" class="form-control">@for(diagnosis <- diagnoses){<option value="@diagnosis.getId">@diagnosis.getName</option>}</select></td>' +
                		    '<td><select name="workList[' + id + '].treatment.id" class="form-control">@for(treatment <- treatments){<option value="@treatment.getId">@treatment.getName</option>}</select></td>' +
                		    '<td class="col-lg-1"><span style="cursor:pointer" class="removeWorkButton pull-right glyphicon glyphicon-trash" onclick="removeWork(\'work' + id + '\')"></span></td>' +
                		    '</tr>');
                });
                function removeWork(trId){
                    $('#workTable > tbody > #' + trId).remove();

                    var id = 0;
                    $('#workTable > tbody > tr').each(function() {
                    	$(this).attr("id", "work" + id);
                    	$(this).find("td")
                            .slice(0, 3)
                                .find("input, select").attr("name", function(index, oldValue) {
                                    var suffix = oldValue.slice(oldValue.indexOf('.'), oldValue.length);
                                    return 'workList[' + id + ']' + suffix;
                                })
                                .end().end()
                            .eq(3)
                                .find(".removeWorkButton").attr("onclick", "removeWork('work" + id + "')");
                    	id = id + 1;
                    });
                }
            </script>
        </div>
    </div>
    
    <div class="form-group">
        <label for="notes" class="col-lg-2 control-label">Notatki</label>
        <div class="col-lg-10">
            <textarea name="notes" placeholder="Dodatkowe informacje..." class="form-control" rows="5">@form.get.getNotes</textarea>
        </div>
    </div>
    
    @if(form.hasGlobalErrors) {
    <p class="error">@form.globalError.message</p>
    }

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="button" onclick='window.open("@routes.VisitController.remove(form.get.getId)","_self");' class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-trash"></span> Usuń wizytę</button>
            <button type="button" onclick='window.open("@routes.PatientController.get(form.get.getPatient.getId)","_self");' class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-user"></span> Pokaż pacjenta</button>
        </div>
    </div>

    <div class="form-group text-right">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="button" onclick='window.open("@routes.VisitController.list(1)","_self");' class="btn btn-default">Anuluj</button>
            <button type="submit" class="btn btn-success">Zapisz</button>
        </div>
    </div>
</div>
}
}
